L-IckEtS/L-IckEtS/xml_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ticket" type="ticketType"/>
    <xs:complexType name="ownerType">
        <xs:simpleContent >
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="ownerID" use="required"/>
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="email" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="actionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="orderNum" use="required"/>
                <xs:attribute type="xs:string" name="beginDate" use="required"/>
                <xs:attribute type="xs:string" name="endDate" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="supervisorType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="technicianID" use="required"/>
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:string" name="email" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="typeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="typeID" use="required"/>
                <xs:attribute type="xs:string" name="name" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="actionsType">
        <xs:sequence>
            <xs:element type="actionType" name="action" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ticketType">
        <xs:sequence>
            <xs:element type="ownerType" name="owner"/>
            <xs:element type="supervisorType" name="supervisor"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="typeType" name="type"/>
            <xs:element type="actionsType" name="actions"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="ticketID" use="required"/>
        <xs:attribute type="xs:string" name="status" use="required"/>
    </xs:complexType>
</xs:schema>